menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config AWS_ACCESS_KEY_ID
        string "AWS Access Key ID"
        default "aws-access-key-id"
        help
            Set AWS_ACCESS_KEY_ID for kvs webrtc.

    config AWS_SECRET_ACCESS_KEY
        string "AWS Secret Access Key"
        default "aws-secret-access-key"
        help
            Set AWS_SECRET_ACCESS_KEY for kvs webrtc.

    config AWS_SESSION_TOKEN
        string "AWS Session Token"
        default "aws-session-token"
        help
            Set AWS_SESSION_TOKEN for kvs webrtc.

    config AWS_IOT_CORE_CREDENTIAL_ENDPOINT
        string "AWS Iot Core Credential Endpoint"
        default "aws-iot-core-credential-endpoint"
        help
            Set AWS_IOT_CORE_CREDENTIAL_ENDPOINT for kvs webrtc.

    config AWS_IOT_CORE_CERT
        string "AWS Iot Core Cert"
        default "aws-iot-core-cert"
        help
           Set AWS_IOT_CORE_CERT for kvs webrtc.

    config AWS_IOT_CORE_PRIVATE_KEY
        string "AWS Iot Core Private Key"
        default "aws-iot-core-private-key"
        help
           Set AWS_IOT_CORE_PRIVATE_KEY for kvs webrtc.

    config AWS_IOT_CORE_ROLE_ALIAS
        string "AWS Iot Core Role Alias"
        default "aws-iot-core-role-alias"
        help
           Set AWS_IOT_CORE_ROLE_ALIAS for kvs webrtc.

    config AWS_IOT_CORE_THING_NAME
        string "AWS Iot Core Thing Name"
        default "aws-iot-core-thing-name"
        help
           Set AWS_IOT_CORE_THING_NAME for kvs webrtc.

    config AWS_KVS_LOG_LEVEL
        string "AWS KVS Log Level"
        default "2"
        help
            Set AWS_KVS_LOG_LEVEL for kvs webrtc.

    config AWS_DEFAULT_REGION
        string "AWS Default Region"
        default "us-west-2"
        help
            Set AWS_DEFAULT_REGION for kvs webrtc.

    config AWS_KVS_CHANNEL
        string "AWS kvs channel"
        default "ScaryTestChannel"
        help
            Set AWS_KVS_CHANNEL for kvs webrtc.

    config EXAMPLE_FORMAT_IF_MOUNT_FAILED
        bool "Format the card if mount failed"
        default n
        help
            If this config item is set, format_if_mount_failed will be set to true and the card will be formatted if
            the mount has failed.

    choice EXAMPLE_SDMMC_BUS_WIDTH
        prompt "SD/MMC bus width"
        default EXAMPLE_SDMMC_BUS_WIDTH_1
        help
            Select the bus width of SD or MMC interface.
            Note that even if 1 line mode is used, D3 pin of the SD card must have a pull-up resistor connected.
            Otherwise the card may enter SPI mode, the only way to recover from which is to cycle power to the card.

        config EXAMPLE_SDMMC_BUS_WIDTH_4
            bool "4 lines (D0 - D3)"

        config EXAMPLE_SDMMC_BUS_WIDTH_1
            bool "1 line (D0)"
    endchoice

    if IDF_TARGET_ESP32S3

        config EXAMPLE_PIN_CMD
            int "CMD GPIO number"
            default 35 if IDF_TARGET_ESP32S3

        config EXAMPLE_PIN_CLK
            int "CLK GPIO number"
            default 36 if IDF_TARGET_ESP32S3

        config EXAMPLE_PIN_D0
            int "D0 GPIO number"
            default 37 if IDF_TARGET_ESP32S3

        if EXAMPLE_SDMMC_BUS_WIDTH_4

            config EXAMPLE_PIN_D1
                int "D1 GPIO number"
                default 38 if IDF_TARGET_ESP32S3

            config EXAMPLE_PIN_D2
                int "D2 GPIO number"
                default 33 if IDF_TARGET_ESP32S3

            config EXAMPLE_PIN_D3
                int "D3 GPIO number"
                default 34 if IDF_TARGET_ESP32S3

        endif  # EXAMPLE_SDMMC_BUS_WIDTH_4

    endif  # IDF_TARGET_ESP32S3

menu "Camera Configuration"

choice CAMERA_MODULE
    bool "Select Camera Pinout"
    default CAMERA_MODULE_ESP_S3_EYE if IDF_TARGET_ESP32S3
    default CAMERA_MODULE_WROVER_KIT if IDF_TARGET_ESP32
    help
        Select Camera Pinout.

    config CAMERA_MODULE_WROVER_KIT
        bool "WROVER-KIT With OV2640 Module"
    config CAMERA_MODULE_ESP_EYE
        bool "ESP-EYE DevKit"
    config CAMERA_MODULE_ESP_S2_KALUGA
        bool "ESP32-S2-Kaluga-1 V1.3"
    config CAMERA_MODULE_ESP_S3_EYE
        bool "ESP-S3-EYE DevKit"
    config CAMERA_MODULE_ESP32_CAM_BOARD
        bool "ESP32 Camera Development Board"
    config CAMERA_MODULE_M5STACK_PSRAM
        bool "M5Stack Camera With PSRAM"
    config CAMERA_MODULE_M5STACK_WIDE
        bool "M5Stack Camera F (Wide)"
    config CAMERA_MODULE_AI_THINKER
        bool "ESP32-CAM by AI-Thinker"
    config CAMERA_MODULE_CUSTOM
        bool "Custom Camera Pinout"
endchoice

config CAMERA_PIN_PWDN
    depends on CAMERA_MODULE_CUSTOM
    int "Power Down pin"
    range -1 33
    default -1
    help
        Select Power Down pin or -1 for unmanaged.

config CAMERA_PIN_RESET
    depends on CAMERA_MODULE_CUSTOM
    int "Reset pin"
    range -1 33
    default -1
    help
        Select Camera Reset pin or -1 for software reset.

config CAMERA_PIN_XCLK
    depends on CAMERA_MODULE_CUSTOM
    int "XCLK pin"
    range 0 33
    default 21
    help
        Select Camera XCLK pin.

config CAMERA_PIN_SIOD
    depends on CAMERA_MODULE_CUSTOM
    int "SIOD pin"
    range 0 33
    default 26
    help
        Select Camera SIOD pin.

config CAMERA_PIN_SIOC
    depends on CAMERA_MODULE_CUSTOM
    int "SIOC pin"
    range 0 33
    default 27
    help
        Select Camera SIOC pin.

config CAMERA_PIN_VSYNC
    depends on CAMERA_MODULE_CUSTOM
    int "VSYNC pin"
    range 0 39
    default 25
    help
        Select Camera VSYNC pin.

config CAMERA_PIN_HREF
    depends on CAMERA_MODULE_CUSTOM
    int "HREF pin"
    range 0 39
    default 23
    help
        Select Camera HREF pin.

config CAMERA_PIN_PCLK
    depends on CAMERA_MODULE_CUSTOM
    int "PCLK pin"
    range 0 39
    default 25
    help
        Select Camera PCLK pin.

config CAMERA_PIN_Y2
    depends on CAMERA_MODULE_CUSTOM
    int "Y2 pin"
    range 0 39
    default 4
    help
        Select Camera Y2 pin.

config CAMERA_PIN_Y3
    depends on CAMERA_MODULE_CUSTOM
    int "Y3 pin"
    range 0 39
    default 5
    help
        Select Camera Y3 pin.

config CAMERA_PIN_Y4
    depends on CAMERA_MODULE_CUSTOM
    int "Y4 pin"
    range 0 39
    default 18
    help
        Select Camera Y4 pin.

config CAMERA_PIN_Y5
    depends on CAMERA_MODULE_CUSTOM
    int "Y5 pin"
    range 0 39
    default 19
    help
        Select Camera Y5 pin.

config CAMERA_PIN_Y6
    depends on CAMERA_MODULE_CUSTOM
    int "Y6 pin"
    range 0 39
    default 36
    help
        Select Camera Y6 pin.

config CAMERA_PIN_Y7
    depends on CAMERA_MODULE_CUSTOM
    int "Y7 pin"
    range 0 39
    default 39
    help
        Select Camera Y7 pin.

config CAMERA_PIN_Y8
    depends on CAMERA_MODULE_CUSTOM
    int "Y8 pin"
    range 0 39
    default 34
    help
        Select Camera Y8 pin.

config CAMERA_PIN_Y9
    depends on CAMERA_MODULE_CUSTOM
    int "Y9 pin"
    range 0 39
    default 35
    help
        Select Camera Y9 pin.
endmenu

endmenu
